body,p,input {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	height: 100%;
}

body {
	background: #83a9fa url(../imgs/bodyBg1.jpg)  no-repeat center top;
}

#mask {
	display: none;
	width: 100%;
	height: 100%;
	background: #B4C8DC;
	opacity: 0.6;
	filter: alpha(opacity:60);
	position: absolute;
}

#wrap {
	width: 550px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -275px;
}

#top {
	width: 550px;
	height: 60px;
}

#time {
	width: 130px;
	height: 50px;
	background: url(../imgs/time.png) no-repeat;
	position: absolute;
	margin: 5px;
}

.number {
	width: 74px;
	height: 36px;
	background: #b8e4f8;
	box-shadow: 0px 0px 20px #37c6f5;
	display: inline-block;
	position: absolute;
	left: 52px;
	top: 5px;
	font: 28px/36px bold 'Arial';
	text-align: center;
	border-radius: 5px;
}

#mines {
	width: 130px;
	height: 50px;
	background: url(../imgs/mines.png) no-repeat;
	position: absolute;
	right: 0;
	margin: 5px;
}

/*#content{ position:relative; }*/
#gameBox {
	width: 550px;
	height: 550px;
	border: 5px solid #b8e4f8;
	background: #b8e4f8;
	opacity: 0.8;
	filter: alpha(opacity:80);
	box-shadow: 0px 0px 50px #37c6f5;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
}

#gameBox div {
	text-indent: 5000px;
	background-color: #48D1CC;
	width: 50px;
	height: 50px;
	position: absolute;
	text-align: center;
	line-height: 50px;
	border-radius: 2px;
}

#choose {
	display: none;
	width: 300px;
	height: 310px;
	background: #37c6f5;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -155px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 20px;
}

#level {
	display: none;
	width: 200px;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -100px;
	font: bold 16px/50px "宋体";
	color: #FF4500;
}

#level p {
	font: 20px/50px "宋体";
}

#level input {
	margin: 0  6px 6px 0;
}

#level #confirm {
	width: 90px;
	height: 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #fff;
	font-size: 16px;
}

#level #cancel {
	width: 90px;
	height: 30px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #fff;
	font-size: 16px;
}

#over {
	display: none;
	width: 250px;
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -100px;
	font: bold 16px/50px "宋体";
	color: #FF4500;
}

#over p {
	font: 20px/50px "宋体";
}

#over span {
	width: 150px;
	height: 30px;
	display: inline-block;
}

#over input {
	width: 90px;
	height: 30px;
	margin-right: 10px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #fff;
	font-size: 16px;
}

#load {
	display: none;
	width: 200px;
	height: 200px;
/*background:#bfe8fe;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	z-index: 1;
}

#load div {
	width: 0;
	height: 30px;
	background: #ccc;
	opacity: 0.6;
	filter: alpha(opacity:60);
}

#load p {
	font: bold 14px/30px Arial;
	position: absolute;
	top: 50%;
	left: 40%;
}

#gameBox .isbomb {
	background: red;
}

#gameBox .hongqi {
	background: #48D1CC url(../imgs/2.png);
	background-size: contain;
}

#gameBox .wenhao {
	background: #48D1CC url(../imgs/3.png);
	background-size: contain;
}

#gameBox .bombbj {
	background: url(../imgs/1.png);
	background-size: contain;
}

#gameBox .open {
	background: blue;
	text-indent: 0;
}